<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img id="logoImg" src="https://www.thoughtco.com/thmb/Ljprwn0kvdhdvBAl3jxD9Br5q9I=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/gom-map-5659045d5f9b5835e45b6b4a.jpg" alt=""></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1>Prototype F.A.S. - GMRI | City of Portland | State of Maine GIS</h1>
        <h2>
          <a href="https://github.com/rafischer1/gmri_capstone_go_be" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> F.A.S. Github</a>
        </h2>
        <br />
        <h2>
          <a href="/" target="_blank">
            <i class="fa fa-link" aria-hidden="true"></i> F.A.S. Capstone Frontend Site</a>
        </h2>
        <h2>
          <a href="/" target="_blank">
            <i class="fa fa-phone" aria-hidden="true"></i> F.A.S. Capstone Mobile Site</a>
        </h2>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Routes for PostgreSQL DB Connection:</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">METHOD</th>
            <th>PATH</th>
            <th>HANDLER</th>
          </tr>
        </thead>
        <tbody>
          <%= for (r) in routes { %>
            <tr>
              <td class="centered">
                <%= r.Method %>
              </td>
              <td>
                <%= if (r.Method != "GET" || r.Path ~= "{") { %>
                  <%= r.Path %>
                <% } else { %>
                  <a href="<%= r.Path %>"><%= r.Path %></a>
                <% } %>
              </td>
              <td><code><%= r.HandlerName %></code></td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="foot"><span> Contact: <a href="mailto:artiefischer@gmail.com">Robert Fischer</a> for information</span><br />
<span><a href="https://github.com/rafischer1" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> R.A. Fischer Github</a></span> </div>
